<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Distribución {{ distr.capitalize() }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} mt-3" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <!-- Botón para volver a la pantalla de carga de datos -->
    <a href="{{ url_for('main_menu') }}" class="btn btn-primary mt-4">Volver</a>

    <h1 class="mt-4">Histograma de Frecuencias</h1>

    {% if histogram_url %}
        <div class="row">
            <div class="col-md-12">
                <img src="{{ histogram_url }}" alt="Histograma" style="width:100%;height:auto;">
            </div>
        </div>
    {% endif %}

    {% if show_matrix %}
        <div class="row mt-4">
            {% for item in items %}
                <div class="col-md-1">
                    {{ item }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>

<!-- Include Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>